SECRET_KEY=
DEBUG=False
SITE_NAME=127.0.0.1
SITE_IP=
POSTS_PAGE_SIZE=5
# database
ENGINE=django.db.backends.postgresql
DB_HOST=db
DB_NAME=sergievskiy_database
DB_USER=app
DB_PASSWORD=
DB_PORT=5432
TZ=Europe/Moscow