{% extends 'base.html' %}
{% load static %}

{% block title %}Галерея | Альбом | {{ album.title }}{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-3">
            <h3 class="text-center">{{ album.title }}</h3>
        </div>
    </div>
    <div class="row">
        {% if not videos and not images %}
            <p class="text-center mt-5">Контента еще нет :)</p>
        {% else %}
            {% if videos %}
                <div class="col-sm-12 col-md-9 mt-5 d-flex justify-content-center">
            {% else %}
                <div class="col-sm-12 col-md-12 mt-5 d-flex justify-content-center">
            {% endif %}
        <div class="grid gallery--responsive-images"
             data-masonry='{ "itemSelector": ".grid-item", "isFitWidth": true }'>
            <div class="pswp-gallery pswp-gallery--single-column" id="gallery--getting-started">
                {% for image in images %}
                    <a href="{{ image.file.url }}" data-image-slug="{{ image.slug }}"
                       data-pswp-width="{{ image.file.width }}"
                       data-pswp-height="{{ image.file.height }}" target="_blank">
                        <img class="grid-item image" src="{{ image.file.url }}" alt=""/>
                    </a>
                {% endfor %}
            </div>
        </div>
        </div>
            {% if videos %}
                {% if images %}
                    <div class="col-sm-12 col-md-3 mt-5">
                {% else %}
                    <div class="col-sm-12 col-md-12 mt-5">
                {% endif %}
            {% for video in videos %}
                <video controls width="250" class="video d-flex mx-auto" id="video">
                    <source src="{{ video.file.url }}"/>
                    <div class="controls">
                        <button class="video-detail"><i class="fa-solid fa-circle-info"></i></button>
                    </div>
                </video>
            {% endfor %}
            </div>
            {% endif %}
        {% endif %}
        </div>
{% endblock %}