{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <h2 class="card-title text-center my-5">Добавить изображения</h2>
            <form class="w-75 mx-auto" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.media }}
                {{ form|crispy }}
                <a href="{% url 'gallery:album_detail' request.resolver_match.kwargs.album__pk %}" class="btn btn-secondary">Отмена</a>
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </form>
        </div>
    </div>
{% endblock %}