{% extends 'base.html' %}
{% load static %}
{% load l10n %}

{% block title %}Расписание{% endblock %}

{% block content %}
    <h3 class="text-center mt-2">Расписание богослужений</h3>
    {% for d in data %}
        <h4 class="text-center mt-5">{{ d.week.name }}</h4>
        <div class="table-responsive">
            <table class="table table-bordered mt-3">
                <thead>
                <tr class="text-center">
                    <th scope="col">Дата</th>
                    <th scope="col">Кому служба</th>
                    <th scope="col">Время</th>
                    <th scope="col">Тип службы</th>
                </tr>
                </thead>
                <tbody class="align-middle">
                {% for key, values in d.schedule.items %}
                    <tr>
                        <td class="text-center">
                            {% localize on %}{{ key }}{% endlocalize %}
                        </td>
                        <td>
                            {% for schedule in values %}
                                {{ schedule.to_whom|linebreaks }}
                            {% endfor %}
                        </td>

                        <td>
                            {% for schedule in values %}
                                {{ schedule.event|date:"H:m"|linebreaks }}
                            {% endfor %}
                        </td>
                        <td>
                            {% for schedule in values %}
                                {% for ts in schedule.type_service.all %}
                                    {{ ts.name|linebreaks }}
                                {% endfor %}
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    {% endfor %}
{% endblock %}