{% extends 'base.html' %}
{% load static %}

{% block title %}Расписание{% endblock %}

{% block content %}
    <h3 class="text-center mt-2">Расписание богослужений</h3>
    {% for week in weeks %}
        <h4 class="text-center mt-5">{{ week.week.name }}</h4>
        {% for item in week.days_and_events %}
            <h5 class="mt-5 text-center">{{ item.day.date|date:"l" }}</h5>
            <h6 class="text-center">{{ item.day.date }}</h6>
            <div class="row mt-4">
                <div class="col-12">
                    <ul class="list-group">
                        {% for event in item.events %}
                            <li class="list-group-item border-0" style="font-size: 14px;text-align: center">
                                <div class="row">

                                    <div class="col-6 align-middle">{{ event.to_whom|linebreaks }}</div>
                                    <div class="col-2" style="font-weight: bold;">{{ event.time }}</div>
                                    <div class="col-4" style="font-weight: bold;">
                                        {% for ts in event.type_service.all %}
                                            {{ ts.name|linebreaks }}
                                        {% endfor %}
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}
        <br>
    {% endfor %}
{% endblock %}